<a href="<%- url_for(post.path) %>" class="<%= class_name %>" <%- post.update_date ? `title="创建日期：${ date(post.date, date_format) }"` : '' %>>
  	<time datetime="<%= date_xml(post.update_date || post.date) %>" itemprop="<%= post.update_date ? 'dateUpdated' : 'datePublished' %>"><%= date(post.update_date || post.date, date_format) %></time>
</a>