<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <div class="right-col">
      <% if (page.layout=='post' || page.layout=='photo'){ %>
        <%- partial('_partial/right-col', {item: page, table: true}, {cache: !config.relative_link}) %>
      <% } else { %>
        <%- partial('_partial/right-col', {item: page, table: false}, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
  <script type="text/javascript" async src="/js/jquery.totop.js"></script>
</body>
</html>