<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="handheldfriendly" content="true">
  <meta name="theme-color" content="#325899">
  <!-- Enforce HTTPS protocol -->
  <script>
    if ((window.location.host == "<%= config.enforce_ssl %>") &&
        (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>
<!-- If this is a backup, then redirect to origin -->
  <script>
    var curLoc = window.location.href;
    if ((<%= config.redirect2origin %>) &&
        (curLoc.indexOf("bak.") <= 14) && (curLoc.indexOf("bak.") != -1))
        setTimeout(function() {
            redLoc = curLoc.replace("bak.", "");
            window.location.replace(redLoc);
        }, 10000);
  </script>
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <%- open_graph({twitter_id: theme.shareid.twitter, google_plus: theme.shareid.google_plus, fb_admins: theme.shareid.fb_admins, fb_app_id: theme.shareid.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
